import { i18next } from '@volstudio/core/i18n';
import { Button } from '@volstudio/core/ui';

export class App {
  private readonly button: Button;
  constructor(parent: HTMLElement) {
    document.title = i18next.t('{{NAMESPACE}}:app.title');
    this.button = new Button(i18next.t('{{NAMESPACE}}:app.ready'), { disabled: true });
    parent.appendChild(this.button.element);
  }
  destroy(): void {
    this.button.destroy();
  }
}
